[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pyinstaller = "*"

[scripts]
build = "pipenv run pyinstaller --upx-dir ../upx-3.96-win64 -n jpzip --add-data 7z;7z --clean jpzip.py"
dirty-build = "pipenv run pyinstaller --upx-dir ../upx-3.96-win64 -n jpzip --add-data 7z;7z jpzip.py"
